html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='A layout example that shows off a responsive photo gallery.')
        title Photo Gallery – Layout Examples – Pure
        link(rel='stylesheet', href='pure-min.css')
        link(rel='stylesheet', href='gallery-grid.css')
        link(rel='stylesheet', href='gallery.css')
        link(rel='stylesheet', href='flipclock.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
         //script(src='jquery-2.1.1.min.js')
        script(src='flipclock.min.js')
        body
            div
                .header
                    .pure-menu.pure-menu-open.pure-menu-horizontal
                        h1.pure-menu-heading(href='') Photo Gallery
                .pure-g
                    .photo-box.u-1.u-med-1-3.u-lrg-1-4
                        //a(href='http://www.dillonmcintosh.tumblr.com/')
                            //img(src='http://24.media.tumblr.com/d6b9403c704c3e5aa1725c106e8a9430/tumblr_mvyxd9PUpZ1st5lhmo1_1280.jpg', alt='Beach')
                        .clock(style='margin: 2em;')
                        script(type='text/javascript')
                            var clock;
                             $(document).ready(function() {
                             clock = $('.clock').FlipClock({
                             clockFace: 'TwelveHourClock'
                            });
                            });
                    .text-box.u-1.u-med-2-3.u-lrg-3-4
                        .l-box
                            .clock(style='margin: 2em;')
                            script(type='text/javascript')
                                var clock;
                                $(document).ready(function() {
                                clock = $('.clock').FlipClock({
                                clockFace: 'TwelveHourClock'
                                });
                                });
                    .photo-box.u-1.u-med-1-2.u-lrg-1-3
                        a(href='http://ngkhanhlinh.dunked.com/')
                            img(src='http://31.media.tumblr.com/aa1779a718c2844969f23c4f5dec86b1/tumblr_mvyxhonf601st5lhmo1_1280.jpg', alt='Meadow')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://ngkhanhlinh.dunked.com/') Linh Nguyen
                    .photo-box.u-1.u-med-1-2.u-lrg-1-3
                        a(href='http://www.nilssonlee.se/')
                            img(src='http://24.media.tumblr.com/23e3f4bb271b8bdc415275fb7061f204/tumblr_mve3rvxwaP1st5lhmo1_1280.jpg', alt='City')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://www.nilssonlee.se/') Jonas Nilsson Lee
                    .photo-box.u-1.u-med-1-2.u-lrg-1-3
                        a(href='http://www.flickr.com/photos/rulasibai/')
                            img(src='http://24.media.tumblr.com/ac840897b5f73fa6bc43f73996f02572/tumblr_mrraat0H431st5lhmo1_1280.jpg', alt='Flowers')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://www.flickr.com/photos/rulasibai/') Rula Sibai
                    .photo-box.u-1.u-med-1-2.u-lrg-1-3
                        a(href='http://www.flickr.com/photos/charliefoster/')
                            img(src='http://24.media.tumblr.com/e100564a3e73c9456acddb9f62f96c79/tumblr_mufs8mix841st5lhmo1_1280.jpg', alt='Bridge')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://www.flickr.com/photos/charliefoster/') Charlie Foster
                    .photo-box.photo-box-thin.u-1.u-lrg-2-3
                        a(href='http://ngkhanhlinh.dunked.com/')
                            img(src='http://24.media.tumblr.com/c35afcc83e18ea7875160f64c039f471/tumblr_mwhdohfePJ1st5lhmo1_1280.jpg', alt='Balloons')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://ngkhanhlinh.dunked.com/') Linh Nguyen
                    .photo-box.u-lrg-6-6
                        a(href='http://twitter.com/iBoZR')
                            img(src='http://25.media.tumblr.com/95c842c76d60b7bc982d92c76216d037/tumblr_mx3tnm96k81st5lhmo1_1280.jpg', alt='Rain Drops')
                        aside.photo-box-caption
                            span
                                | by
                                a(href='http://twitter.com/iBoZR') Thanun Buranapong

                    .u-1.form-box
                        .l-box
                            h2 Submit a Photo
                            form.pure-form
                                button.pure-button(type='submit') Submit



//.pure-g(style='font-size:125%')
             .pure-u-1-3
             .pure-u-1-3
             .pure-u-1-3
                h1(style="color:indigo")  ____  BEGIN JAMAH
                h1(style="color:indigo")  FAJR   04:48 05:45
                h1(style="color:indigo")  ZUHR   12:45 01:15
                h1(style="color:indigo")  ASR    04:20 05:15
                h1(style="color:indigo")  MAGRIB 06:42 06:45
                h1(style="color:indigo")  ISHA   07:38 08:30
           //br
            h2(style="color:indigo")  Suhur 06:45
            h2(style="color:indigo")  TULU(Sunrise) 06:45
            h2(style="color:indigo")  ISHRAQ       07:05
            h2(style="color:indigo")  MIDNIGHT 00:20
            br
            h2 JAMAH ASR 05:15 "alarm"
            h2 AZAN ASR 04:45  "alarm"
            h2(style="color:hotpink") 13 Jun 2014 02:52 PM FRIDAY 15 Shaban, 1435












//
    Playlist Stop 2 min before Jamah + 30 min. Play only pt.html
    ishraq = +15 to 20 after sunrise
    "Zawal Begins" = End time for Ishraq & Chasht.
    Midnight = 1/2(Sunrise - Sunset)
    Makhruh time is between "Zawal Begins" & "Zuhr".
    about twenty minutes after sunrise. He then reads two Rakats nafl prayer of Ishraq.
    Chast Salah is performed in the morning (after sunrise and before Zawal)
           if(ipaddress)
              h4 &nbsp;&nbsp;&nbsp;Locally Manage your Device using following URL
                  h4(style="color:blue") http://#{ipaddress}:8000
              h3(style="color:hotpink")  OR
              h4 Manage your device from cloud server
                a(style="color:blue") @ http://www.pisignage.com
               HR
               h3(align='center', style="color:blue") &nbsp;&nbsp;&nbsp;Register Your Device Id on http://pisignage.com
               h2(align='center',style="color:indigo") DeviceID: #{serverId}
           else
               h4 &nbsp;&nbsp;&nbsp; Connect your mobile via usb to the device, enable USB tethering on mobile.
               h4 &nbsp;&nbsp;&nbsp; And load the following url on your Mobile Browser
                   h3(style="color:blue")  http://192.168.42.10:8000
               HR
               h3(style="color:hotpink") Ethernet LAN Diagnostic Report
               if(netstatus=="FAIL")
                   h5(style="color:blue") Use Supplied Power Supply & Make sure ethernet cable is not faulty
           h5(style="color:indigo") Eth Link:#{linkstatus}   DNS: #{dnsstatus}   PING:#{pingstatus}
               | DHCP: #{dhcpserver}

    function gmod(n,m){
    return ((n%m)+m)%m;
    }
    function kuwaiticalendar(adjust){
    var today = new Date();
    if(adjust) {
    adjustmili = 1000*60*60*24*adjust;
    todaymili = today.getTime()+adjustmili;
    today = new Date(todaymili);
    }
    day = today.getDate();
    month = today.getMonth();
    year = today.getFullYear();
    m = month+1;
    y = year;
    if(m<3) {
    y -= 1;
    m += 12;
    }
    a = Math.floor(y/100.);
    b = 2-a+Math.floor(a/4.);
    if(y<1583) b = 0;
    if(y==1582) {
    if(m>10)  b = -10;
    if(m==10) {
    b = 0;
    if(day>4) b = -10;
    }
    }
    jd = Math.floor(365.25*(y+4716))+Math.floor(30.6001*(m+1))+day+b-1524;
    b = 0;
    if(jd>2299160){
    a = Math.floor((jd-1867216.25)/36524.25);
    b = 1+a-Math.floor(a/4.);
    }
    bb = jd+b+1524;
    cc = Math.floor((bb-122.1)/365.25);
    dd = Math.floor(365.25*cc);
    ee = Math.floor((bb-dd)/30.6001);
    day =(bb-dd)-Math.floor(30.6001*ee);
    month = ee-1;
    if(ee>13) {
    cc += 1;
    month = ee-13;
    }
    year = cc-4716;
    wd = gmod(jd+1,7)+1;
    iyear = 10631./30.;
    epochastro = 1948084;
    epochcivil = 1948085;
    shift1 = 8.01/60.;
    z = jd-epochastro;
    cyc = Math.floor(z/10631.);
    z = z-10631*cyc;
    j = Math.floor((z-shift1)/iyear);
    iy = 30*cyc+j;
    z = z-Math.floor(j*iyear+shift1);
    im = Math.floor((z+28.5001)/29.5);
    if(im==13) im = 12;
    id = z-Math.floor(29.5001*im-29);
    var myRes = new Array(8);
    myRes[0] = day; //calculated day (CE)
    myRes[1] = month-1; //calculated month (CE)
    myRes[2] = year; //calculated year (CE)
    myRes[3] = jd-1; //julian day number
    myRes[4] = wd-1; //weekday number
    myRes[5] = id; //islamic date
    myRes[6] = im-1; //islamic month
    myRes[7] = iy; //islamic year
    return myRes;
    }
    function writeIslamicDate(adjustment) {
    var wdNames = new Array("Ahad","Ithnin","Thulatha","Arbaa","Khams","Jumuah","Sabt");
    var iMonthNames = new Array("Muharram","Safar","Rabi'ul Awwal","Rabi'ul Akhir",
    "Jumadal Ula","Jumadal Akhira","Rajab","Sha'ban",
    "Ramadan","Shawwal","Dhul Qa'ada","Dhul Hijja");
    var iDate = kuwaiticalendar(adjustment);
    var outputIslamicDate = wdNames[iDate[4]] + ", "
    + iDate[5] + " " + iMonthNames[iDate[6]] + " " + iDate[7] + " AH";
    return outputIslamicDate;
    writeIslamicDate